* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.container {
    width: 80%;
    max-width: 700px;
    margin: 50px auto;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.input-section {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

#taskInput {
    flex: 1;
    padding: 10px;
    font-size: 16px;
}

#addBtn {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

#addBtn:hover {
    background-color: #45a049;
}

.task-section {
    display: flex;
    gap: 20px;
}

.pending,
.completed {
    flex: 1;
}

h2 {
    margin-bottom: 10px;
}

ul {
    list-style-type: none;
}

li {
    background: #f9f9f9;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
}

li span {
    flex: 1;
}

li button {
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}
.completed li span {
    text-decoration: line-through;
    color: gray;
}
.completed span {
    text-decoration: line-through;
    color: gray;
}